
    <div id="planet-container">
    </div>

    <%- include('partials/state1') %>

    <%- include('partials/state2') %>

    <%- include('partials/state3') %>

    <%- include('partials/state4') %>

    <%- include('partials/popup_transmission-not-ready') %>